* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  /* Nova cor de fundo */
  color: #333;
  /* Cor do texto */
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.login-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h1 {
  color: #e74c3c;
  /* Cor para o título */
  font-size: 28px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fafafa;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #e74c3c;
  /* Nova cor para foco */
  outline: none;
}

button {
  width: 100%;
  padding: 15px;
  background-color: #e74c3c;
  /* Cor do botão */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d35c3f;
  /* Cor do botão ao passar o mouse */
}

p {
  margin-top: 15px;
  font-size: 16px;
}

a {
  color: #e74c3c;
  /* Cor do link */
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  .login-container {
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  h1 {
    font-size: 24px;
  }

  input {
    padding: 12px;
    font-size: 14px;
  }

  button {
    padding: 12px;
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }
}